<main>
  <!-- Project cards fetched from API  -->
  <ng-container *ngIf="projectCards$ | async as projectCards; else loading">
    <mat-card *ngFor="let project of projectCards">
      <mat-card-title>
        <div>{{ project.title }}</div>
      </mat-card-title>
      <mat-card-content>
        {{ project.description }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="openProject(project.route)">
          EXPLORE
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <!-- Skeleton cards as placeholders while loading -->
  <ng-template #loading>
    <mat-card *ngFor="let num of placeholderCards">
      <mat-card-title>
        <app-skeleton></app-skeleton>
      </mat-card-title>
      <mat-card-content>
        <app-skeleton [count]="10"></app-skeleton>
      </mat-card-content>
      <mat-card-actions>
        <app-skeleton></app-skeleton>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</main>
